<!-- Modal -->
<div class="modal fade" id="CSVModal" tabindex="-1" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <!-- <div class="modal-body"> -->
    <form action="/<%=shortname%>/admin/register_students" method="POST" enctype="multipart/form-data" class="fh5co-form animate-box"
      data-animate-effect="fadeIn">
      <button type="button" class="btn-close float-right" data-bs-dismiss="modal"
        aria-label="Close"></button>
      <h2 class="modal-title">Upload CSV</h2>
      
      <div class="form-group">
        <label class="profile-file">
          <input type="file" name="file" ref="upload" id="imgContent" aria-label="File Input" onchange="getFileContent()">
          <span class="profileFile-custom content"></span>
        </label>
        <h6 class="fileName" id="contentName" style="text-align:left;"><span class="nofile" >No files Selected</span></h6>
      </div>
      
      <div class="form-group">
        <button type="submit" class="btn btn-primary" name="upload">Upload</button>
      </div>
    </form>
  </div>
</div>
</div>
<script>
    function getFileContent()
    {
        var x = document.getElementById('imgContent');
        document.getElementById('contentName').innerHTML = x.value.split('\\').pop();
    }
</script>


<!-- <form class="user" action="/<%=shortname%>/admin/register_students" enctype="multipart/form-data"
                                method="POST">
                                <div class="form-group ">
                                    <input class="form-control form-control-user create-input" type="file" name="file">
                                </div><button class="btn btn-primary btn-block text-white btn-user" type="submit"
                                    name="upload">Upload CSV</button>
                            </form> -->