<div class="preload">
    <div class="book">
      <div class="inner">
          <div class="left"></div>
          <div class="middle"></div>
          <div class="right"></div>
      </div>
      <ul>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
      </ul>
      <div class="brand-logo" style="text-transform: capitalize !important;">
        <h1>Schudle</h1>
      </div>
    </div>
</div>